__pycache__
.venv
tmp_current_file.txt
output.wav
*progress.json

data/newsletter_images
cache
access
data/pod_krinko_besede.csv
credentials/*.json
.env
users.json
data/movies/**/*.mp4
data/movies/**/*.html
*.mkv
*.avi
data/movies/**/*.jpg
data/movies/**/*.json
data/movies/**/*.pkl
data/movies/**/*.srt
data/movies/**/*.vtt
data/movies/**/*.original
data/memes/*.mp4
data/memes/*.gif
data/memes/*.jpg
data/memes/*.JPG
data/memes/*.PNG
data/memes/*.GIF
data/memes/*.jpeg
data/memes/*.webp
data/memes/*.WEBP
data/memes/*.png
data/music/**/*.mp3
data/music/**/*.m4a
data/music/**/*.wma
user-interface.html
.tmp.driveupload
redis_data
