__pycache__
.venv
.coverage
.pytest_cache
htmlcov

.env
cache/logs
credentials/*.json
configuration/nginx
configuration/certbot

data/users.json
data/test_users.json
data/redis_data/dump.rdb
data/newsletter_images
data/pod_krinko_besede.csv
data/movies/**/*.mp4
data/movies/*-the-chosen/seasons-metadata/*.html
data/movies/**/cover_image.jpg
data/movies/**/cover_thumb.jpg
data/movies/**/readme.json
data/movies/**/.detected-voice-activity.pkl
data/movies/**/*.srt
data/movies/**/*.vtt
data/movies/**/.*.srt.original
data/memes/*.mp4
data/memes/*.gif
data/memes/*.jpg
data/memes/*.JPG
data/memes/*.PNG
data/memes/*.GIF
data/memes/*.jpeg
data/memes/*.webp
data/memes/*.WEBP
data/memes/*.png
data/music/**/*.mp3
data/music/**/*.m4a
data/movies/users_comments.json
