__pycache__
.venv
tmp_current_file.txt
output.wav
*progress.json

credentials/*.json
.env
users.json
movies/**/*.mp4
*.mkv
*.avi
movies/**/*.jpg
movies/**/*.json
movies/**/*.pkl
movies/**/*.srt
movies/**/*.vtt
movies/**/*.original
memes/*.mp4
memes/*.gif
memes/*.jpg
memes/*.JPG
memes/*.PNG
memes/*.GIF
memes/*.jpeg
memes/*.webp
memes/*.png
music/**/*.mp3
music/**/*.m4a
music/**/*.wma
user-interface.html
.tmp.driveupload
