huggingface-hub
python-dotenv
Flask
flask-login
requests
beautifulsoup4
cinemagoer
google-cloud
pysrt
scipy
numpy
numba
torch
matplotlib
gemini-srt-translator
google-cloud-translate
chardet
langdetect
waitress
tqdm
m3u8
playwright
pyautogui
flask-compress
certbot
Flask-WTF
Flask-Limiter
opensubtitlescom
