# Osnovne knjižnice
huggingface-hub==0.29.3
python-dotenv
Flask
requests
beautifulsoup4
IMDbPY
google-cloud
pysrt
scipy
numpy<2
numba
pyannote.audio
matplotlib
gemini-srt-translator
chardet
langdetect
waitress
tqdm

# za Real-ESRGAN (github.com/xinntao/Real-ESRGAN) modele
opencv-python
ffmpeg-python

# PyTorch z CUDA podporo (11.1)
torch==1.9.1+cu111
torchvision==0.10.1+cu111
torchaudio==0.9.1
# PIP naj uporablja ustrezen indeks za CUDA pakete
-f https://download.pytorch.org/whl/cu111/torch_stable.html
