# Osnovne knjižnice
huggingface-hub==0.29.3
python-dotenv
Flask
flask-login
requests
beautifulsoup4
IMDbPY
google-cloud
pysrt
scipy
numpy<2
numba
pyannote.audio==2.1.1
matplotlib
gemini-srt-translator
google-cloud-translate==3.20.3
aiohttp==3.8.1
chardet
langdetect
waitress
tqdm
