{% extends "mail_base.html" %}
{% from 'partials/mail_components.html' import button, fallback, note %}
{% block mail_title %}Ponastavitev gesla{% endblock %}
{% block mail_preheader %}Povezava za ponastavitev gesla velja {{ expiry_minutes }} minut.{% endblock %}
{% block mail_content %}
<p style="margin:0 0 16px;">Pozdravljeni,</p>
<p style="margin:0 0 16px;">za e-naslov <strong>{{ email }}</strong> smo prejeli zahtevo za ponastavitev gesla uporabnika <strong>{{ username }}</strong>.</p>
{{ button(reset_link, 'Ponastavi geslo') }}
{% call note() %}<strong>Povezava velja {{ expiry_minutes }} minut.</strong><br>Če ponastavitve niste zahtevali vi, sporočilo prezrite. Vaše geslo ostane nespremenjeno.{% endcall %}
{{ fallback(reset_link, 'Če gumb ne deluje, odprite spodnjo povezavo:') }}
<p style="margin:22px 0 0;">Lep pozdrav,<br>MarinKino</p>
{% endblock %}
{% block mail_footer %}To sporočilo ste prejeli zaradi zahteve za ponastavitev gesla.{% endblock %}
