{% extends "mail_base.html" %}
{% set mail_is_blog = true %}
{% from 'partials/mail_components.html' import button, fallback, note %}
{% block mail_title %}{{ mail_copy.blog_title }}{% endblock %}
{% block mail_preheader %}{{ mail_copy.confirmation_instruction }}{% endblock %}
{% block mail_content %}
<p style="margin:0 0 16px;">{{ mail_copy.confirmation_intro }}</p>
<p style="margin:0 0 16px;">{{ mail_copy.confirmation_instruction }}</p>
{{ button(confirmation_url, mail_copy.confirm) }}
{% call note() %}{{ mail_copy.expires }}{% endcall %}
{{ fallback(confirmation_url, mail_copy.fallback_link) }}
{% if mail_language != 'sl' %}<p style="margin:18px 0;font-size:12px;line-height:1.7;color:#617570;">{{ mail_copy.automatic_notice }}</p>{% endif %}
<p style="margin:26px 0 0;">{{ mail_copy.greeting }}<br><span dir="ltr">Anže Marinko</span></p>
{% endblock %}
{% block mail_footer %}{{ mail_copy.confirmation_ignore }}{% endblock %}
