{% extends "mail_base.html" %}
{% set mail_is_blog = true %}
{% from 'partials/mail_components.html' import button, fallback %}
{% block mail_title %}{{ post.title if mail_language == 'sl' else mail_copy.new_post_title }}{% endblock %}
{% block mail_preheader %}{{ (post.seo_description or post.excerpt or post.subtitle)|default('', true) if mail_language == 'sl' else mail_copy.new_post_intro }}{% endblock %}
{% block mail_content %}
<p style="margin:0 0 18px;color:#617570;">{{ mail_copy.new_post_intro }}</p>
{% if mail_language == 'sl' and (post.seo_description or post.excerpt or post.subtitle) %}<p style="margin:0 0 18px;font-size:17px;line-height:1.8;">{{ post.seo_description or post.excerpt or post.subtitle }}</p>{% endif %}
{{ button(post_url, mail_copy.read_post) }}
{{ fallback(post_url, mail_copy.fallback_link) }}
{% if mail_language != 'sl' %}<p style="margin:18px 0;font-size:12px;line-height:1.7;color:#617570;">{{ mail_copy.automatic_notice }}</p>{% endif %}
<p style="margin:26px 0 0;">{{ mail_copy.greeting }}<br><span dir="ltr">Anže Marinko</span></p>
{% endblock %}
{% block mail_footer %}{{ mail_copy.unsubscribe }}{% endblock %}
