{% extends "base.html" %}

{% block content %}

<style>
    #searchInput {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
</style>

<div id="browser">
    <div id="albums">
        <h2>Albumi</h2>
        <div id="albumList"></div>
    </div>
    <div id="tracks">
        <h2>Pesmi</h2>
        <input type="search" id="searchInput" placeholder="Iskanje po naslovu, izvajalcu, albumu..." class="form-control mb-2">
        <div id="trackList"></div>
    </div>
</div>

<!-- PLAYER -->
<div id="player" class="p-3 shadow-sm">

  <div id="nowPlayingTitle" class="text-center mb-2 text-primary">
    Ni izbrane pesmi
  </div>
  <div id="nowPlayingArtist" class="text-center mb-2 text-primary">
  </div>
  <div id="nowPlayingAlbum" class="text-center mb-2 text-primary">
  </div>

  <audio id="audio" preload="auto" playsinline></audio>

  <div class="d-flex justify-content-center gap-3 my-2">
    <button class="player-btn" onclick="prev()">
      <i class="bi bi-skip-backward-fill"></i>
    </button>

    <button id="playBtn" class="btn-player btn-play" onclick="togglePlay()">
      <i id="playIcon" class="bi bi-play-fill"></i>
    </button>

    <button class="player-btn" onclick="next()">
      <i class="bi bi-skip-forward-fill"></i>
    </button>

    <button id="shuffleBtn" class="btn-player btn-rnd" onclick="toggleRandom()">
      <i id="shuffleIcon" class="bi bi-shuffle"></i>
    </button>

{% if current_user.is_admin %}
<button id="delete-btn" class="btn btn-danger shadow" onclick="izbrisiPesem()">
  <i class="bi bi-trash"></i>
</button>
{% endif %}
  </div>

  <input type="range" id="seekBar" class="form-range">

  <div id="timeDisplay" class="text-end text-muted small">
    0:00 / 0:00
  </div>
</div>

<div id="albums-root"
     data-albums='{{ albums | tojson | safe }}'>
</div>

<div id="metadata-root"
     data-music='{{ music_metadata | tojson | safe }}'>
</div>

<script defer src="/static/script/music_player.js"></script>

{% endblock %}
