{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="movie-page">
    <div class="description">
        <div class="cover"><img src="/movies/file{{ movie.cover }}" alt="Poster"></div>
        <h1><b>{{ movie.title }}</b>{{ movie.year }}<br><i style="opacity: 0.5;">{{ movie.original_title }}</i><div class="slosinh">{{ movie.slosinh }}</div></h1></br>
        <div class="genres">
            {% for genre in movie.genres %}
            <span class="genre-badge {{ genre|lower|replace(' ', '-') if genre in known_genres else 'unknown' }}">{{ genre }}</span>
            {% endfor %}
        </div></br>
        <hr>
        <b>{{ movie.players }}</b></br>
        <hr>{{ movie.description }}
    {% if subtitle_buttons %}</br>
        <hr>Podnapisi (izberete v predvajalniku med možnostmi): {% for subtitle in subtitle_buttons %}<button class="subtitles">{{ subtitle }}</button> {% endfor %}
        {% endif %}</br>
        <hr>{% if is_collection %}
            <div>
                {% for video_file in video_files %}
                    <button class="video-btn" style="--watch: {{ movie.watch_info[video_file]['watch_ratio']|default(0) }}%;" 
                        onclick="playVideo('/movies/file/{{ group_folder }}/{{ folder }}/{{ video_file }}', {{ movie.watch_info[video_file]['last_play_time']|default(0) }}, this)">
                        {{ video_file|replace('.mp4', '') }} ({{ movie.runtimes_by_files[video_file] }} min)
                    </button>
                {% endfor %}
                </div></br>
        <hr>
        {% else %}

            <div class="izbira" movie-id="{{ movie.movie_id }}">
                <input type="radio" id="opcija1-{{ movie.movie_id }}" name="izbor-{{ movie.movie_id }}" value="0">
                <label for="opcija1-{{ movie.movie_id }}">Nepogledano</label>

                <input type="radio" id="opcija2-{{ movie.movie_id }}" name="izbor-{{ movie.movie_id }}" value="100">
                <label for="opcija2-{{ movie.movie_id }}">Pogledano</label>
            </div>
        
            {% if current_user.is_admin %}
            <div class="buttons">
                <form action="/movies/remove{{ movie.folder }}" method="post" onsubmit="return odstraniMovieCard(event, this);">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">Odstrani</button>
                </form>
            </div>
            {% endif %}
        {% endif %}
    </div>

{% if not is_collection %}
    <video id="videoPlayer" controls playsinline>

        <source src="/movies/file/{{ group_folder }}/{{ folder }}/{{ video_file }}" type="video/mp4">
        {% if slosubs_file %}
            <track src="/movies/file/{{ group_folder }}/{{ folder }}/{{ slosubs_file }}" kind="subtitles" srclang="sl" label="{{ slosubs_file|replace('subtitles-', '')|replace('.vtt', '')|replace('Subs', '') }}" default>
        {% endif %}
        
        {% for subtitle in subtitles %}
            {% if subtitle != slosubs_file %}
            <track src="/movies/file/{{ group_folder }}/{{ folder }}/{{ subtitle }}" kind="subtitles" srclang="{{ subtitle|replace('subtitles-', '')|replace('.vtt', '')|replace('Subs', '') }}" label="{{ subtitle|replace('subtitles-', '')|replace('.vtt', '')|replace('Subs', '') }}">
            {% endif %}
        {% endfor %}
        Tvoj brskalnik ne podpira videa.
    </video>
    <script>
        const video = document.getElementById('videoPlayer');
        const lastTime = {{ movie.last_play_time|default(0) }}; // v sekundah

        video.addEventListener('loadedmetadata', () => {
            if (lastTime < video.duration) {
                video.currentTime = lastTime;
            }
        });
    </script>
{% else %}
    <video id="videoPlayer" width="100%" controls playsinline>
        <source id="videoSource" src="" type="video/mp4">
        Tvoj brskalnik ne podpira videa.
    </video>

    <script>
    function playVideo(src, startTime = 0, button) {
        // Označi izbran gumb
        document.querySelectorAll('.video-btn').forEach(btn => btn.classList.remove('selected'));
        button.classList.add('selected');
        
        // Predvajaj video
        const video = document.getElementById('videoPlayer');
        const source = document.getElementById('videoSource');
        source.src = src;
        video.load();
        video.addEventListener('loadedmetadata', function setStartTime() {
            if (startTime < video.duration) {
                video.currentTime = startTime;
            }
            video.play();
            video.removeEventListener('loadedmetadata', setStartTime);
        });
    }
    </script>
{% endif %}
</div>

<script defer src="/static/script/movies.js"></script>
</main>

{% endblock %}
