

<footer class="bg-white border-top mt-5">
  <div class="container py-4">

    <div class="row g-4">

      <!-- INFO -->
      <div class="col-md-4">
        <h6 class="fw-bold"><i class="bi bi-camera-reels"></i> MarinKino</h6>
        <p class="small text-muted">
          Družinski pregledovalnik filmov, risank, glasbe, šal, ... na domačem strežniku.
          Namenjen je enostavni izbiri in ogledu kvalitetnih vsebin v slovenščini brez oglasov.
          Nabor filmov in risank se bo sčasoma spreminjal (zaenkrat tudi ne trdim, da je zagotovo vsak film kvaliteten po vsebini).
        </p>
        <p class="small text-muted">
          Ideja je sicer do neke mere podobna SloFlix s poudarkom na kvalitetni vsebini. Mimogrede, stran sem začel pripravljati preden je izšel SloFlix.
        </p>
      </div>

      <!-- TEHNIKA -->
      <div class="col-md-4">
        <h6 class="fw-bold"><i class="bi bi-cpu"></i> Tehnične informacije</h6>
        <ul class="small text-muted mb-0">
          <li>Strežnik: Raspberry Pi</li>
          <li>Backend: Python + Flask + Nginx</li>
          <li>Podrobnosti in naslovne slike filmov: avtomatsko pridobljene, opisi po potrebi prevedeni z umetno inteligenco</li>
          <li>Podnapisi: ponekod avtomatsko pridobljeni in po potrebi prevedeni z umetno inteligenco ter avtomatsko poravnani z zvokom, ki pri filmih slabše kvalitete snemanja ni nujno poravnan tudi s sliko</li>
        </ul>
      </div>

      <!-- AVTOR -->
      <div class="col-md-4">
        <h6 class="fw-bold"><i class="bi bi-person-lines-fill"></i> O projektu</h6>
        <p class="small text-muted mb-1">
          Avtor in vzdrževanje: <strong>Anže Marinko</strong> (<a target="_blank"
     class="footer-link" href="mailto:anze.marinko96@gmail.com">anze.marinko96@gmail.com</a>)
        </p>
        <p class="small text-muted">
          Projekt je nastal iz praktične potrebe, veselja do programiranja in je večinoma avtomatiziran,
          zato so možne napake v opisih ali prevodih. Za večje napake bom vesel opozoril in predlogov (popravki, izboljšave, nove vsebine ...).
          Za novega uporabnika recite skrbniku strani. Praviloma je stran le za družino in prijatelje.
        </p>
        <p class="small text-muted">
        <a target="_blank"
     class="footer-link" href="https://github.com/AnzeMarinko/MarinKino">Repozitorij</a>
        </p>
      </div>

    </div>

    <hr class="my-3">

    <div class="d-flex flex-column flex-md-row justify-content-between small text-muted">
      <span>© 2025-{{ current_year }} Anže Marinko</span>
      <span>MarinKino</span>
    </div>

  </div>
</footer>
