body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background: #396ba5;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    z-index: 150;
    transition: top 0.3s ease-in-out; /* Animate slide in/out */
    will-change: transform;
}

html, body {
    overflow-x: hidden;
}

select {
    font-size: 12pt;
    border-radius: 8px;
    margin: 5px;
    font-weight: bold;
}

.logo{
    height: 100px;
    width: 100px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f79737;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    top: 0;
    z-index: 1000;
    margin-left: 10px;
}

.logo img{
    width: 100%;
}

.popcorn{
    height: 50px;
    width: 50px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 140px;
    background-color: #f79737;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    top: 0;
    z-index: 1000;
}

.popcorn img{
    width: 100%;
}

.logo, .popcorn {
    left: 0;
}


.group-selector {
    max-width: 70%;
    margin-left: auto;
}

h1 {
    text-align: right;
    color: #fff;
    margin-right: 20pt;
}

h2 {
    padding-top: 220px;
    font-size: 30px;
}

header form {
    margin-bottom: 20px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 8px;
}

header .user {
    color: white;
    margin-bottom: 20px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 8px;
}

form.login {
    margin-bottom: 20px;
    padding-right: 40px;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 8px;
}

input, button {
    padding: 8px 12px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
}

.movie-card {
    position: relative;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
    overflow: visible;
    height: 500px;
    /* border: 5px solid transparent; /* pripravi prostor za rob */
    z-index: 0;
    justify-content: center;
    align-items: center;
    --watch: 0%;
    background-image: linear-gradient(
        to right,
        #ff5e00 var(--watch),
        #f7973733 var(--watch)
    );
    background-size: 100% 20px;
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.movie-card:hover {
    transform: scale(1.03);
    z-index: 10; /* da pride nad ostale kartice */
}

.movie-card img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.movie-card h3 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
}

.movie-card .description {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.97);
    padding: 12px;
    font-size: 0.9rem;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    pointer-events: none;
    width: 300px;
    left: 100%;
}


.movie-card:hover .description {
    opacity: 1;
    pointer-events: auto;
}

.movie-card .buttons {
    position: absolute;
    bottom: 10px;
    margin-bottom: 10pt;
    width: 100%;
    align-items: center;
}

.movie-card .runtime {
    padding: 8px 14px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.movie-card .slosinh {color: #f79737;}

.group-selector {
    padding-right: 40px;
}

.group-selector ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
  }
  
  .group-selector button {
    text-decoration: none;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
  }
  
  .group-selector button:hover {
    background-color: #bbb;
  }

.genre-badge {
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    background-color: #bd5734;
}

.genre-badge.komedija {background-color: #ffcc5c;}
.genre-badge.drama {background-color: #6b5b95;}
.genre-badge.romanca {background-color: #ff6f69;}
.genre-badge.pustolovski {background-color: #86af49;}
.genre-badge.druzinski {background-color: #92a8d1;}
.genre-badge.akcija {background-color: #d9ad7c;}
.genre-badge.domisljijski {background-color: #eeac99;}


.movie-page {
    text-align: center;
    color: #333;
    display: inline-flex;
    justify-content: space-between;
	overflow: hidden;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    margin: 10px 10px 0px 10px;
    color: black;
    text-decoration: none;
    background: #FFEDC8;
    border-radius: 12px;
}
video {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    min-width: 200pt;
    width: 70%
}

.movie-page img {
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.movie-page .home img {
    height: 60px;
}

.movie-page h1 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    color: #333;
}

.movie-page .description {
    background-color: rgba(255, 255, 255, 0.97);
    padding: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
	width: 40%; 
    min-width: 200pt;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.movie-page .slosinh {color: #f79737;}

button {
    border-radius: 8px;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    background-color: #ffcc5c;
    --watch: 0%;
    background-image: linear-gradient(
        to right,
        #ff5e00 var(--watch),
        transparent var(--watch)
    );
    background-size: 100% 15px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

button.subtitles {
    padding: 5px;
    font-size: 14px;
    margin: 2px;
    background-color: #ffb35c;
}

button:visited {
  color: red;
}

p.user {
    color: white;
}
p.user a {
    color: red;
}

a.button {
    border-radius: 8px;
    border: none;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 7px;
    background-color: #ffcc5c;
    color: black;
}
a.button:hover {
  background: #b22;
}
a.button:visited {
  color: black;
}

video, img {
    max-width: 100%;
}

.izbira {
    display: flex;
    gap: 1rem;
    font-family: sans-serif;
}

.izbira input[type="radio"] {
    display: none; /* skrij radio gumb */
}

.izbira input[type="checkbox"] {
    display: none; /* skrij radio gumb */
}

.izbira label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    background-color: wheat;
  display: flex;
  justify-content: center;   /* horizontalno */
  align-items: center;       /* vertikalno */
}

.izbira span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    background-color: wheat;
  display: flex;
  justify-content: center;   /* horizontalno */
  align-items: center;       /* vertikalno */
}

.izbira input[type="radio"]:checked + label {
    background-color: #e8ffe8;
    border-color: #4CAF50;
    font-weight: bold;
}

.izbira input[type="checkbox"]:checked + span {
    background-color: #e8ffe8;
    border-color: #4CAF50;
    font-weight: bold;
}

.video-btn.selected {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #2E7D32;
}

.error {
    color: red;
    margin-bottom: 1rem;
    font-weight: bold;
}
