
body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.slika-container {
    position: relative;
    overflow: hidden;
}

.slika-container img,
.slika-container video {
    max-width: 90vw;
    max-height: 90vh;
    margin-right: auto;
    margin-left: auto;
    width: 1000pt;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 50px 30px black;
}

.next-btn {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 9998;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    font-size: 32px;
    padding: 30vh 30vw;
    cursor: pointer;
    opacity: 0;
}
.next-btn:hover {
    opacity: 1;
}
