{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="container my-4">
  <form method="get" class="row g-2 align-items-end bg-white p-3 rounded shadow">

    <div class="col-md-3">
      <select class="form-select" name="movietype">
        <option value="">-- Tip filmov --</option>
        {% for group in group_folders %}
          <option value="{{ group }}" {% if group == selected_movietype %}selected{% endif %}>
            {{ group_folders[group] }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-2">
      <select class="form-select" name="genre">
        <option value="">-- Žanr --</option>
        {% for genre in known_genres %}
          <option value="{{ genre }}" {% if genre == selected_genre %}selected{% endif %}>
            {{ genre|capitalize }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-3">
      <select class="form-select" name="sort">
        <option value="name-asc">Ime ↑</option>
        <option value="name-desc">Ime ↓</option>
        <option value="runtime-asc">Dolžina ↑</option>
        <option value="runtime-desc">Dolžina ↓</option>
      </select>
    </div>

    
    <div class="col-md-2 d-flex align-items-end" style="margin-bottom: 4px;">
        <input type="checkbox"
                class="btn-check"
                id="onlyunwatched"
                name="onlyunwatched"
                {% if onlyunwatched %}checked{% endif %}>

        <label class="btn btn-outline-secondary w-100"
                for="onlyunwatched">
            Skrij pogledano
        </label>
    </div>


    <div class="col-md-2">
        {% if current_user.is_authenticated %}
        <button class="btn btn-orange w-100">Pripravi</button>
        {% endif %}
    </div>

  </form>
</div>

 <div class="movie-grid" id="movie-grid"></div>

<script defer src="/static/script/movies.js"></script>
</main>

{% endblock %}
