<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dovolj za danes v MarinKino</title>
    <link rel="stylesheet" href="/static/css/style.css">
	<link rel="icon" href="/static/logo.png">
</head>
<body>
    <header>
    <h1 style="text-align: center;">Dovolj {{ section }} za danes!</h1>
    <div class='logo'>
		<img src="/static/logo.png">
    </div>
    </header>
    <div class='popcorn'>
		<img src="/static/popcorn.png">
    </div>
    <h2>Upam, da je bil namen strani dosežen.</h2>
    <p>Zdaj, ko si se malo razvedril s prijetnim, pa je čas še za kaj koristnega (pogovor, opravila, spanje, šport, ...). Bog te blagoslovi!</p>
</body>
</html>
