<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Arial, sans-serif; background:#f4f4f4;">

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td align="center" style="padding:8px;">

     <table width="100%" style="max-width:600px;background:#ffffff;border-radius:8px;padding:10px;">
     <tr>
     <td align="center" style="padding:16px;">

          <a href="https://anzemarinko.duckdns.org"><img src="https://anzemarinko.duckdns.org/static/logo.png"
               width="100"
               style="margin-bottom:10px;max-width:100%;height:auto;"
               alt="MarinKino"></a>

     </td>
     </tr>

  {% block content %}{% endblock %}

     </table>
</td>
</tr>
</table>

</body>
</html>
