{% extends "base.html" %}

{% block content %}
  <table width="100%" cellpadding="0" cellspacing="0">
  <tr>
  <td align="center" style="padding:8px;">

      <table width="100%" style="max-width:600px;background:#ffffff;border-radius:8px;padding:10px;">
      <tr>
      <td align="center" style="padding:16px;">

            <a href="https://anzemarinko.duckdns.org"><img src="https://anzemarinko.duckdns.org/static/logo.png"
                width="100"
                style="margin-bottom:10px;max-width:100%;height:auto;"
                alt="MarinKino"></a>

      </td>
      </tr>
     <tr>
     <td style="font-family:Arial,sans-serif;font-size:17px;line-height:1.6;color:#111;">

          <h2 style="margin-top:0;color:#f59e0b;font-size:22px;">
          Ponastavitev gesla v MarinKino
          </h2>

        <p>Pozdravljeni,</p>
        <p>za ponastavitev gesla za uporabnika <b>{{ username }}</b> kliknite na spodnjo povezavo. Povezava poteče čez {{ expiry_minutes }} minut.</p>
        <p>Nekdo je za e-naslov <b>{{ email }}</b> zahteval ponastavitev gesla. Če to niste bili vi, to sporočilo prezrite.</p>

          <a href="{{ reset_link }}"
          style="display:block;
                    margin:24px 0;
                    padding:14px 18px;
                    font-size:18px;
                    background:#f59e0b;
                    color:#ffffff;
                    text-decoration:none;
                    border-radius:6px;
                    text-align:center;">
          Ponastavitev gesla v MarinKino
          </a>

          <p style="font-size:14px;color:#666;">
          Če gumba ne vidite, obiščite:
          <br>
          {{ reset_link }}
          </p>

          <p>Lep pozdrav,<br>MarinKino sistem</p>

          <p style="font-size:12px;color:#666;">
          To je samodejno sporočilo.
          </p>
     </td>
     </tr>

     </table>
  </td>
  </tr>
  </table>
{% endblock %}
