{% extends "base.html" %}

{% block content %}

<main class="container">
<div  style="max-width: 500px; margin: auto;">
<h2 class="text-center mb-3">Ponastavitev gesla</h2>
    <form method="post" autocomplete="on">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
          <label for="email" class="form-label">E-naslov:</label>
          <input id="email" name="email" type="email" class="form-control" autocomplete="email" required>
      </div>
      <div class="d-grid">
          <button type="submit" class="btn btn-warning btn-lg">Pošlji povezavo</button>
      </div>
    </form>
    <p><a href="{{ url_for('login') }}">Nazaj na prijavo</a></p>

</div>
</main>

{% endblock %}
