{% extends "base.html" %}

{% block content %}

<main class="container">
<div  style="max-width: 500px; margin: auto;">
<h2 class="text-center mb-3">Prijava</h2>

  <form method="post" autocomplete="on">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
      <div class="mb-3">
          <label for="username" class="form-label">Uporabniško ime</label>
          <input id="username" name="username" type="text" class="form-control" autocomplete="username" required>
      </div>

      <div class="mb-3">
          <label for="password" class="form-label">Geslo</label>
          <input id="password" name="password" type="password" class="form-control" autocomplete="current-password" required>
      </div>

      <div class="d-grid">
          <button type="submit" class="btn btn-warning btn-lg">Prijavi se</button>
      </div>
  </form>

    <p><a href="{{ url_for('forgot_password') }}">Pozabljeno geslo?</a></p>

</div>
</main>

{% endblock %}
