{% extends "base.html" %}

{% block content %}

<main class="container">
<div  style="max-width: 500px; margin: auto;">
<h2 class="text-center mb-3">Ponastavi geslo</h2>

  <p>Nastavite močno geslo.</p>

  <form method="post" autocomplete="on">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="token" value="{{ token }}">
      
      <div class="mb-3">
          <label for="username" class="form-label">Uporabniško ime</label>
          <input id="username" name="username" type="text" class="form-control" autocomplete="username" required>
      </div>

      <div class="mb-3">
          <label for="password" class="form-label">Novo geslo</label>
          <input id="password" name="password" type="password" class="form-control" autocomplete="new-password" required minlength="6">
      </div>

      <div class="d-grid">
          <button type="submit" class="btn btn-warning btn-lg">Potrdi</button>
      </div>
  </form>
    <p><a href="{{ url_for('login') }}">Nazaj na prijavo</a></p>

</div>
</main>

{% endblock %}

